/.vs
/Budget Accounting System/obj
/Budget Accounting System/bin
/Budget Accounting System/bin
/Budget Accounting System/bin
/Budget Accounting System/obj
/Budget Accounting System/bin
/Budget Accounting System/obj
/ShivFurnitureERP/bin
/ShivFurnitureERP/obj
/ShivFurnitureERP/obj
/ShivFurnitureERP/appsettings.json